<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Hashem Agencia</title>
    <meta name="description" content="Explora la galería de nuestros proyectos destacados en la agencia de alquiler de coches.">
    <meta name="keywords" content="alquiler de coches, galería de coches, proyectos de coches, agencia de alquiler">
    <link rel="shortcut icon" href="../images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/logo.webp" alt="Logotipo de Hashem Alquiler de Coches" width="130" height="30">
        </div>
        <nav aria-label="Navegación principal">
            <div class="burger-menu" aria-label="Abrir menú" role="menubar" aria-expanded="false">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Galería</h1>
            <p>Explora nuestros proyectos destacados.</p>
            <section id="gallery" class="gallery" aria-label="Galería de imágenes">
            </section>
            <div id="imagePopup" class="popup" role="dialog" aria-labelledby="popupImage">
                <button class="close" aria-label="Cerrar ventana">&times;</button>
                <img class="popup-content" src="#" id="popupImage" alt="Imagen ampliada">
            </div>
        </div>
    </main>
    <footer>
        <div class="logoFooter">
            <img src="../images/logo.webp" alt="Logotipo de Hashem Alquiler de Coches" width="130" height="30">
        </div>
        <p>&copy; 2024 Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="https://fb.com" class="fab fa-facebook" rel="nofollow" aria-label="Facebook"></a>
            <a href="https://x.com" class="fab fa-twitter" rel="nofollow" aria-label="Twitter"></a>
            <a href="https://instagram.com" class="fab fa-instagram" rel="nofollow" aria-label="Instagram"></a>
        </div>
    </footer>
    <script src="../js/burger.js"></script>
    <script src="../js/galeria.js"></script>
</body>
</html>
